[Unit]
Description = Script to Fetch Bus Timings
After = network.target

[Service]
User = pi
Group = pi
ExecStart = /home/pi/LearningPython/displayBus.sh
ExecStop = sudo /bin/kill -s STOP $MAINPID && sudo /bin/killall python3
Type = simple

[Install]
WantedBy = default.target
